html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, rgb(214, 214, 56), rgb(244, 76, 9));
}

input {
  background: linear-gradient(to right, rgb(214, 214, 56), rgb(244, 76, 9));
  border-radius: 4px;
  width: 400px;
  height: 30px;
  text-align: center;
}

.search-container {
  width: 400px;
  position: relative;
}
.search-container .suggestions {
  position: relative;
  width: 400px;
  text-align: center;
  display: flex;
  position: absolute;
}

ul {
  list-style: none;
  background-color: orange;
  border-radius: 4px;
  margin-top: 2px;
  padding-left: 0px;
}

ul li {
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 400px;
}

.longer-list {
  height: 200px;
  overflow: scroll;
  scrollbar-color: orange;
}

ul li:hover {
  background-color: red;
  cursor: pointer;
  border-radius: 4px;
}
